/* home-header */
.home-header {
 
  background-color: grey;
  background-image: url("../img/accueil_v3.jpg");
  height: 890px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  margin-top: 20px;
  border-radius: 45px;
  height: 50px;
  background: linear-gradient(75deg, #73cea3 0%, #6ec9b2 100%);
}

.navbar-dark .navbar-toggler {
  border-radius: 15px;
}

.navbar-toggler {
  padding: 0px;
}

.navbar-nav {
  margin: auto;
  font-family: var(--font-family-russo_one);
  font-size: 0.7rem;
  text-align: center;
}

.logo_grp {
  display: flex;
}

.logo {
    width: 60%;
  }

.calli_grp {
 display: flex;
 justify-content: center;
}

.calli {
  width: 300px;
}

/* Club */

.club_grp {
  background: linear-gradient(75deg, #73cea3 0%, #6ec9b2 100%);
  background-size: cover;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  color: rgb(255, 255, 255);
  padding: 100px 0px;
}
.club_title {
  margin-bottom: 50px;
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-xl);
}

/* Prof */

.prof_grp {
  margin-top: 100px;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
}

.prof {
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-xxl);
  text-align: center;
}
.card {
  display: flex;
  margin: 50px;
  align-items: center;
}

.nom {
  padding: 50px;
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-xl);
  text-align: center;
}

.imgProf {
  width: 250px;
}

/* Citation */

.citation_grp {
  background: linear-gradient(75deg, #73cea3 0%, #6ec9b2 100%);
  background-size: cover;
  margin-top: 50px;
  padding: 100px 0px;
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-m);
  color: white;
  text-align: start;
}

.citation_nom {
  text-align: end;
  font-size: var(--font-size-m);
  margin-top: 30px;
}

/* Cours */

.cours_grp {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
}

.cours {
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-xxl);
  text-align: center;
  margin-top: 70px;
}

.title {
  font-family: var(--font-family-russo_one);
  font-size: var(--font-size-xl);
  color: white;
  text-align: center;
}

.boy {
  border-radius: 25px;
}

/* .cour {
  border: solid 2px var(--burnt-umber);
  border-radius: 25px;
  margin-top: 30px;
} */

.bouton {
  background: linear-gradient(75deg, #73cea3 0%, #6ec9b2 100%);
  border: none;
  border-radius: 45px;
  padding-right: 50px;
  padding-left: 50px;
}

/* Shop */

.shop_grp {
  background: linear-gradient(-145deg, #862c31 0%, #b14d4d 100%);
  background-size: cover;
  height: 1080px;
  margin-top: 100px;
}

/* Elements */

:root {
    --burnt-umber: #862c31;
    --licorice: #171615;
    --spring-leaves: #5b8266;
    --spring-wood: #f5f9ef;
    --white: #ffffff;
    --font-size-l: 16px;
    --font-size-m: 20px;
    --font-size-s: 18px;
    --font-size-xl: 32px;
    --font-size-xxl: 50px;
    --font-size-xxxl: 51px;
    --font-size-xxxxl: 55px;
    --font-family-boucherieblock-regular: "BoucherieBlock-Regular", Helvetica;
    --font-family-poppins: "Poppins", Helvetica;
    --font-family-russo_one: "Russo One", Helvetica;
  }
  